* {
  box-sizing: border-box;
}
header {
  background-color: gray;
  color: white;
}

header p {
  font-family: 'Krona One', sans-serif;
}

nav ul li {
  font-weight: bold;
}

main {
  background-color:lightblue;
}
footer {
  background-color: gray;
}