* {
  box-sizing: border-box;
}
header {
  background-color: gray;
  color: white;
}

header p {
  font-family: 'Krona One', sans-serif;
}

nav ul li {
  font-weight: bold;
}
nav ul li:hover {
  background-color: wheat;
  color: darkblue;
  cursor: pointer;
}

main {
  background-color:lightblue;
}
footer {
  background-color: gray;
}