* {
  border-sizing: border-box;
  margin: 0;
}

header {
  padding: .5em;
}

header img {
  display: inline-block;
  max-width:30%;
  min-width: 120px;
}
header p {
  display: inline-block;
}

nav {
  float:right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
  padding: 1em;
}

nav ul li {
  padding:1em;
}
main {
  padding: 2em;
}
footer {
  padding: 1em;
}