.wrong {
  color: red;
}
#wrong {
  display: none;
}
#taken {
  display: none;
}
nav ul{
  list-style-type: none;
  padding: 1em;
}
header p {
  float: left;
  font-size: smaller;
  clear: left;
  padding: .25em;
}

main {
  padding: 2em;
  
}
footer {
  padding: 1em;
}
 #map {
  border: .5px solid black; 
  margin: auto;
  margin-top: 3em;
  height: 500px;
  width: 90%;
}

/* Modal Content */
#modal {
  display: none;
  position: fixed;
  padding-top: 15%;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#modalImg {
  width: 20%;
  border-radius: 50%;
  margin: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 100px;
  border: .5em solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.Mymodal > div > h1 {
  font-size: 25px;
  font-weight: bold;
  display:block;
  margin: auto;
}
.modalButton {
  background-color: #4CAF50;
  color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 48%;
  }
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

#modalContainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative; 
}


  ul.menu > a{
  display: block;
}


#hamb-menu {
  width: 50px;
  height: auto;
  float: right;
  margin: -50px 20px 0 0;
}

form#add-trip {
  text-align: center;
}

@media screen and (max-width: 790px) {
  .header {
    float: left; 
    width: 110px;
  }

  nav.main-nav {
    height: 150px;
  }

  #hamb-menu{
    display: initial;
  }
  
  ul.menu > a {
    background-color: #f4e8c1;
    border: 1px black solid;
    margin-left: -16px;
    padding: 1em;
    width: 104.7%;
  }
  
ul.menu {
  display: none;
  position: absolute;
  top: 133px;
  width: 100%;
  z-index: 1;
}

  ul.menu > a > li {
    padding: 0;
    text-align: center;
  }

  form#add-trip > input {
    position: inline-block;
  }
} 

@media screen and (min-width: 791px) {
  
  ul.menu {
    display: initial !important;
    width: 80%;
    margin-right: 10%;
  }
  
  .header {
    float: left; 
    width: 240px;
  }
  
  nav.main-nav {
    height: 240px;
  }
  
  #hamb-menu{
    display: none;
  }

  
  .main-nav > ul > a{
    margin: 6em 3% 0 0;
    font-size: 1.5em;
    display: inline-block; 
  }
}

#buttons {
  padding-top: 50px;
}