table {
  background-color: beige;
  width: 85%;
  margin: 0 10%;
  height: auto;
}
th {
  font-weight: bold;
}

td{
  border: 1px black solid;
  text-align: center;
  padding: 3px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

.map-descript {
  font-size: 15px;
}

.map-descript > span {
  font-weight: bold;
}