table {
  background-color: beige;
  width: 85%;
  margin: 0 10%;
  height: auto;
}
th {
  font-weight: bold;
}

td{
  border: 1px black solid;
  text-align: center;
  padding: 3px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

.map-descript {
  font-size: 15px;
}

.map-descript > span {
  font-weight: bold;
}

#logged {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}


#aboutus {
  background-color: gray;
  text-align: center;
}

div.about {
  display: inline-block;
  margin: 2em 1em;
  overflow: hidden;
}

.dev-pic {
  width: 250px;
  height: auto;
}

div.about > p {
  width: 500px;
  font-size: 20px;
}